* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.link-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.link-card {
    display: flex;
    width: 25rem;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 0 0.8rem rgba(255, 255, 255 0.12);
    color: #fff;
}

.link-card-icon {
    text-align: center;
    line-height: 4rem;
    padding: 5px;
    margin-left: 3rem;
    font-size: 1.8rem;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.4) translateZ(50px);
    transition: 0.25s;
}

.link-card::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    /* background: rgb(9, 9, 121);
    background: linear-gradient(
        90deg,
        rgba(9, 9, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    ); */

    /* background: rgb(19, 98, 53);
    background: linear-gradient(
        90deg,
        rgba(19, 98, 53, 1) 0%,
        rgba(41, 249, 0, 0.865) 75%
    ); */

    /* background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgb(149, 39, 222) 5%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    ); */

    /* background: rgb(104, 132, 230);
    background: linear-gradient(
        90deg,
        rgba(104, 132, 230, 1) 0%,
        rgb(224, 230, 242) 100%
    ); */

    /* background-color: #ffe53b;
    background-image: linear-gradient(90deg, #ffe53b 0%, #ff2525 100%); */

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.link-card:hover::before,
.link-card:focus::before {
    transform: scaleX(1);
}

.link-card p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1rem;
}
